include README.rst requirements.txt dev_requirements.txt
include setup.py MANIFEST.in

recursive-include app_data *
recursive-include test_app_data *

global-exclude *.py[co]
global-exclude .coverage
